---
import Seo from "../components/Seo.astro";
import PageLayout from "../layouts/PageLayout.astro";
const allPosts = await Astro.glob("./**/*.md");

const seoTitle = "yiqing • blog";
const seoDescription = "Yiqing's blog posts";
---

<PageLayout>
  <Seo title={seoTitle} description={seoDescription} />

  <div class="py-12">
    {
      allPosts.map((post) => (
        <div class="py-1 flex gap-2">
          <a href={post.url} class="no-underline font-normal text-gray-700">
            {post.frontmatter.title}
          </a>
          <div class="italic text-gray-400">{post.frontmatter.createdAt}</div>
        </div>
      ))
    }
  </div>
</PageLayout>
