---
const title = "yiqing • home";
const description = "Welcome to yiqing's blog";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />

    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
  </head>
  <body>
    <div class="prose px-8 py-12 mx-auto sm:px-0 sm:py-24">
      <slot />

      <footer class="py-12 text-center text-sm text-gray-400">
        Yiqing's Website Since 2023
      </footer>
    </div>
  </body>
</html>
