---
const title = "yiqing • home";
const description = "Welcome to Yiqing Fan's Blog!";
const imageUrl = "https://i.redd.it/g4tplr2ozqb61.jpg";
const siteUrl = "https://www.yiqing.dev/";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <title>{title}</title>
    <meta property="description" content={description} />

    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={imageUrl} />
    <meta property="og:url" content={siteUrl} />

    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={imageUrl} />
    <meta property="twitter:card" content="summary_large_image" />
  </head>
  <body>
    <div class="prose px-8 py-12 mx-auto sm:px-0 sm:py-24">
      <slot />

      <footer class="py-12 text-center text-sm text-gray-400">
        Yiqing's Website Since 2023
      </footer>
    </div>
  </body>
</html>
